* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* nav bar  starting below*/

body {
  margin: 0;
  background: rgb(245, 245, 246);
}
.header,
.content,
button,
.userLogin {
  display: flex;
}

.header {
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  z-index: 2;
}
.userLogin {
  width: 26%;
  justify-content: flex-end;
}
.userbtn {
  padding-right: 15px;
}
.home {
  padding: 0 8px 1vw 1vw;
}
.content {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1170px;
  padding: 1.5vw 1vw;
  margin: auto;
}

button {
  background-color: white;
  border: none;
}
.logo {
  width: 80px;
  height: 40px;
}

.login {
  margin-top: 5px;
  color: rgb(44, 56, 110);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

svg {
  fill: rgb(44, 56, 110);
  stroke: rgb(44, 56, 110);
  stroke-width: "2";
}
@media screen and (max-width: 768px) {
  .content {
    margin: 0vw 0vw;
  }
}
/* nav bar ended */

.btn {
  background-color: rgb(255, 211, 68);
  color: black;
  font-weight: 600;
  justify-content: center;

  padding: 12px;
  margin: 10px auto;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);
}

.btn:hover {
  background-color: rgb(252, 173, 2);
}

a {
  color: green;
}

.whatsapp {
  display: flex;
  flex-direction: row;
  background-color: #dfeeee;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}
.whatsapptext {
  margin-left: 5px;
  width: 95%;
}

h5 {
  margin: 0;
}

svg {
  width: 70px;
  height: 40px;
  margin-top: 0px;
}
.eatsuretext {
  margin: 10px 0;
  font-size: 13px;
  line-height: 0.1cm;
}
.ordersummary {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.dishname {
  display: flex;
  justify-content: flex-end;
  width: 34%;
}
.qty {
  width: 46%;
  display: flex;
  flex-direction: row;
  margin: 13px 0;
}
.price {
  width: 20%;
  margin: 13px 0;
}
.qty {
  justify-content: center;
}
.dishname p,
.clickleft {
  font-size: 13px;
}
.nonvegsymole {
  width: 10px;
  height: 10px;
}
.clickleft {
  width: 33px;
  height: 31px;
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(252, 194, 5);
  outline: none;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transform: rotateY(30deg);
}
.clickright {
  width: 33px;
  height: 31px;
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(252, 194, 5);
  outline: none;
  font-size: 1.6rem;
  border-radius: 4px;
  transform: rotateY(-30deg);
  padding: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.clickleft,
.clickright {
  position: relative;
  cursor: pointer;
}
.coupondiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.couponsign {
  width: 20px;
  height: 20px;
}
h4 {
  margin: 40px 0 20px 0;
}
.coupondiv {
  border: 1px solid rgb(226, 221, 221);
  padding: 25px;
  justify-content: space-between;
}
.arrow {
  width: 10px;
  height: 10px;
  margin-top: 5px;
}
hr {
  color: gray;
  margin: 15px 0;
}
.carttotal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 30px;
}
.amount,
.taxation,
.deliverycharge,
.totalbill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p,
.price {
  margin: 2px;
}
.roundtick {
  position: absolute;
  font-size: 1.8rem;
  width: 40px;
  height: 40px;
  display: block;
  padding: 0.6rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgb(224, 224, 224);
}

.addnew,
.savedaddress {
  padding: 20px 40px;
  border-radius: 15px;
  margin: 0 20px 20px 20px;
  border: 2px dashed rgb(255, 211, 68);
}
.cart-button1,
.cart-button2,
.cart-button3 {
  display: inline-flex;
  padding: 0.9rem 1.8rem;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
  width: 100%;
  margin: auto;
  background-color: rgb(250, 200, 35);
  color: rgb(51, 51, 51);
  position: relative;
  cursor: pointer;
  height: 2rem;
  border-radius: 0.4rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;

  justify-content: center;
}
.cart-button2,
.cart-button3 {
  background-color: rgb(238, 238, 158);
}
.cart-button3 {
  width: 150px;
}

.address,
.payment {
  display: flex;
  flex-direction: column;
}
.addressinput {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.roundtickh2 {
  margin: 0 0 20px 60px;
}
/* style of enter adress form started */
.fullpage {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  max-width: 1170px;
  margin: auto;
}
h2 {
  text-align: left;
}

* {
  box-sizing: border-box;
}

.col-75 {
  width: 100%;
}

.layout {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px auto;
}

.rightcolumn {
  width: 40%;
}

.columncss {
  width: 50%;
  flex: 50%;
}

.leftbartext {
  width: 60%;
}

.rightcolumn,
.columncss,
.leftbartext {
  padding: 0 16px;
}

.container {
  background-color: #ffffff;
  padding: 18px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 1rem 0 rgba(168, 180, 194, 0.37);
}
.function1 {
  width: 80%;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(252, 194, 5);
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* style of enter adress form ended */
@media (max-width: 800px) {
  .layout {
    flex-direction: column-reverse;
  }
  .rightcolumn {
    margin-bottom: 20px;
  }
}
#checkout1,
#checkout3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#checkout2Container {
  margin-top: 5%;
  background-color: rgb(245, 245, 246);
  border-radius: 15px;
  padding: 10px;
}
#checkout2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#checkout2RightContainer {
  border-radius: 15px;
  background: rgb(225, 225, 236);
  padding: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.12);
}
#checkout2,
#checkout2Left,
#checkout2Right,
#checkout2Middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  margin: 0;
}
#checkout2Middle {
  margin: 0;
}
#checkout2Middle h4 {
  padding: 5px;
  margin: 0;
}
#checkout3Left span {
  font-size: 75%;
  color: grey;
}
#checkout3Left h3 {
  margin: 0;
}
#checkout4 button {
  width: 100%;
  height: 50px;
  background: #ffd344;
  box-shadow: rgb(110, 110, 110) 1.5px 1.5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.rightcolumn {
  position: sticky;
  top: 1%;
  min-width: 235px;
  height: fit-content;
}
