body {
  margin: 0px;
}

.textcontent {
  background-color: rgb(243, 243, 243);
  position: relative;
  z-index: 1;
}
.right,
.header,
.userLogin,
.content,
button,
.userLogin,
.citiesbox,
.city1,
.city2,
.city3,
.city4,
.city5,
.city6,
.city7,
.city8,
.city9,
.city10,
.city11,
.city12,
.city13,
.city14,
.city15,
.city16,
.city17,
.city18,
.city19,
.city20,
.city21,
.city22,
.city23,
.city24,
.city25,
.city26,
.city27,
.city28,
.city29,
.city30,
.city31,
.city32,
.city33,
.city34,
.city35,
.city36,
.city37,
.city38 {
  display: flex;
}

.header {
  box-shadow: 0 0 1vw rgba(17, 6, 66, 0.5);
  background-color: white;
  position: relative;
  z-index: 2;
}
.userLogin {
  width: 26%;
  justify-content: flex-end;
}
.userbtn {
  background-color: white;
  padding-right: 15px;
}
.home {
  padding: 0 8px 1vw 1vw;
  background-color: white;
}
.content {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1250px;
  padding: 20px 5px;
  margin: auto;
}

button {
  background-color: white;
  border: none;
}
.logo {
  width: 80px;
  height: 40px;
}
.login {
  margin-top: 5px;
  color: #162c7d;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
svg {
  stroke: #162c7d;
  fill: #162c7d;

  stroke-width: "2";
}
.fa-times {
  font-size: 30px;
  color: rgb(44, 56, 110);
}

.sidebar {
  margin-top: 65px;
  position: fixed;
  width: 240px;
  right: -240px;
  height: 50%;

  background: #010936;
  transition: all 0.5s ease;
  border-radius: 0 0 0 20px;
}
.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #01051f;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}
.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease;
}
a.active,
a:hover {
  border-left: 5px solid rgb(243, 214, 83);
  color: rgb(243, 214, 83);
}
.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  color: rgb(231, 226, 226);
  border-radius: 5px;

  font-size: 29px;
  background: white;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s ease;
}
label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar {
  right: 0;
}

#check:checked ~ label #btn {
  margin-right: 240px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  margin-right: 240px;
  opacity: 1;
  visibility: visible;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap");

h4,
.h5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333333;
  line-height: 0;
  flex-wrap: wrap;
}
h4 {
  margin: 5px 0px 25px 0px;
}
.location {
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}

.para,
.para1,
.title,
.title1 {
  font-family: "Nunito", sans-serif;
  margin-top: 0;
}
.para,
.para1 {
  color: gray;
  line-height: 20px;
  margin-bottom: 1.5vw;
  font-size: 16px;
  display: list-item;
  margin-left: 15px;
}

.textbox {
  max-width: 1200px;
  margin: auto;
  padding: 2.5vw 10px 0 10px;
}
.faasosLogo {
  display: flex;
  flex-direction: row;
}
.title,
.title1 {
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0vw 0vw;
  }
}
.citiesbox1,
.footerbox {
  background-color: #010936;
}
p {
  color: white;
  font-family: "Nunito", sans-serif;
}
.citiesbox {
  max-width: 70vw;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.citiesbox1 {
  display: flex;
  max-width: 1300px;
  margin: auto;
  flex-wrap: wrap;
}
.footerbox {
  box-sizing: border-box;
  padding: 30px;
}

.legal_contact {
  display: flex;
  max-width: 70vw;
  margin: auto;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 0;
  flex-wrap: wrap;
}

.city1,
.city2,
.city3,
.city4,
.city5,
.city6,
.city7,
.city8,
.city9,
.city10,
.city11,
.city12,
.city13,
.city14,
.city15,
.city16,
.city17,
.city18,
.city19,
.city20,
.city21,
.city22,
.city23,
.city24,
.city25,
.city26,
.city27,
.city28,
.city29,
.city30,
.city31,
.city32,
.city33,
.city34,
.city35,
.city36,
.city37,
.city38 {
  line-height: 0;
  margin: -3px 0px;
  width: 33%;
  justify-content: flex-start;
  font-size: 16px;
}
.heading {
  font-family: "Nunito", sans-serif;
  color: rgb(212, 208, 208);
  font-size: 21px;
  font-weight: 500;
  width: 100%;
}
@media screen and (max-width: 550px) {
  div.right,
  div.left {
    width: 100%;
  }
}
@media screen and (max-width: 1439px) {
  .city1,
  .city2,
  .city3,
  .city4,
  .city5,
  .city6,
  .city7,
  .city8,
  .city9,
  .city10,
  .city11,
  .city12,
  .city13,
  .city14,
  .city15,
  .city16,
  .city17,
  .city18,
  .city19,
  .city20,
  .city21,
  .city22,
  .city23,
  .city24,
  .city25,
  .city26,
  .city27,
  .city28,
  .city29,
  .city30,
  .city31,
  .city32,
  .city33,
  .city34,
  .city35,
  .city36 {
    width: 25%;
  }
}
@media screen and (max-width: 764px) {
  .city1,
  .city2,
  .city3,
  .city4,
  .city5,
  .city6,
  .city7,
  .city8,
  .city9,
  .city10,
  .city11,
  .city12,
  .city13,
  .city14,
  .city15,
  .city16,
  .city17,
  .city18,
  .city19,
  .city20,
  .city21,
  .city22,
  .city23,
  .city24,
  .city25,
  .city26,
  .city27,
  .city28,
  .city29,
  .city30,
  .city31,
  .city32,
  .city33,
  .city34,
  .city35,
  .city36,
  .city37,
  .city38 {
    width: 50%;
  }
}
@media screen and (max-width: 1439px) {
  .city37,
  .city38 {
    width: 50%;
  }
}
@media screen and (max-width: 432px) {
  .city37,
  .city38 {
    width: 100%;
  }
}
.space {
  height: 40px;
  width: 100%;
}
.city37,
.city38 {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
}
hr {
  color: rgb(102, 133, 238);
  max-width: 1200px;
}
button,
.href1 {
  background-color: #010936;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin-left: -7px;
}
.href1 {
  margin-left: 0px;
  text-decoration: none;
}
.btn p {
  cursor: pointer;
  line-height: 0px;
  margin: 11px 0;
  font-size: 16px;
  flex-wrap: wrap;
}

.mail {
  stroke: white;
  fill: #010936;
  cursor: pointer;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
}
/* rounded icon */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 4px rgba(153, 153, 153, 0.116);
}

/* Add a hover effect if you want */
.fa:hover,
.href1:active {
  opacity: 0.3;
}
.fa:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.href1:active {
  transform: translateY(4px);
}
.fa-instagram {
  background: rgb(82, 86, 119);
  color: #010936;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: rgb(82, 86, 119);
  color: #010936;
}

/* Twitter */
.fa-twitter {
  background: rgb(82, 86, 119);
  color: #010936;
}
.right p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 10px;
  color: rgb(133, 133, 133);
}
a {
  margin-right: 5px;
}
.right {
  margin-top: 10px;
  width: 50%;
  justify-content: flex-end;
}

.left {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(133, 133, 133);
  margin-top: 15px;
  margin-bottom: 10px;

  justify-content: flex-start;
}

.citiesbox1 {
  background-color: #010936;
}
